%h1= @blog.title

%p= @blog.article

%p
  Published date:
  - unless @blog.published_date.blank?
    = l(@blog.published_date)

%p
  \-
  = @blog.author.display_name

- if policy(@blog).edit?
  = link_to 'Edit', edit_blog_path(@blog)
