select {
  @include base-input;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: $svg-chevron-down-grey;
  background-position: right 0.7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 0.65em auto, 100%;
  min-width: 200px;

  &::-ms-expand {
    display: none;
  }

  option {
    font-weight: $font-regular;
  }
}
